
#start-btn
{
    width: 40%;
} 
#camera
{
    position: center;
    width:360px;
    height: 250px;
    border:1px solid grey;
    
}
#textbox
{
    text-shadow: 0dvh;
    width: 300px;
    
}
